.contacts {
  background-image: url(../../img/bg/form-block-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 0;


  &__title {
    margin-bottom: 60px;
    max-width: 800px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img-box {
    max-width: 580px;
    height: 550px;
    box-shadow: 7px 7px 9px 0 rgba(34, 60, 80, 0.2);
  }

  &__img {
    object-fit: cover;
    object-position: right;
    height: 100%;
  }

  &__content-box {
    max-width: 580px;
    width: 100%;
    font-size: 18px;
  }

  &__content-text {
    margin-bottom: 20px;
  }

  &__content-link {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }

}

.form {
  &__label {
    margin-bottom: 20px;
  }
  &__label-checkbox{
    display: flex;
    align-items: center;
    a{
      color: #000;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__checkbox{
    margin-right: 10px;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 7px 7px 9px 0 rgba(34, 60, 80, 0.2);
    border: 2px solid $text;
  }

  &__input {
    margin-bottom: 20px;
  }

  &__textarea {
    resize: none;
    height: 150px;
    margin-bottom: 10px;
  }

  &__btn {
    @extend %btn;
  }
}

.success {
  display: none;

  span {
    display: inline-block;
    padding: 10px;
    background-color: #a1e3a2;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
  }
}


@media (max-width: 1200px) {
  .contacts {
    &__img {
      display: none;
    }

    &__wrapper {
      justify-content: center;
    }
  }
}

@media (max-width: 480px) {
  .contacts {
    &__title {
      margin-bottom: 20px;
    }

    &__content-text {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}


//1200
//992
//768
//480