.footer{
  background-image: url(./../img/bg/footer-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &__box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo{
    margin-bottom: 20px;
  }

  &__inner{
    color: #fff;

  }
  &__top{
    padding: 60px 0 20px;
    border-bottom: 2px solid $bg-red ;
  }
  &__text{
    text-align: center;
    span{
      padding: 3px;
      background-color: $bg-red;
      color: $bg-dark;
    }
  }
  &__text-link{
    color: #fff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  &__bottom{
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .footer{
    &__text{
      font-size: 10px;
      color: #dedede;
    }
  }
}